<p><a href="http://en.wikipedia.org/wiki/They%27re_Made_Out_of_Meat">"They're made out of... meat."</a></p>

<p><a href="http://en.wikipedia.org/wiki/Ugly_bags_of_mostly_water">"Ugly bags of mostly water"</a></p>

<p>
Calories In / Calories Out is a simplification; but one that seems to work for
me. I use that concept along with a trend graph of my daily weight (an idea
from <a href="http://www.fourmilab.ch/hackdiet/www/hackdiet.html">The Hacker's
  Diet by John Walker</a>) to help me lose weight (an off-again on-again
campaign).
</p>

<p>
The graphing of weight is to provide feedback of how your diet is going. It is
important not to look at each daily weight since that will fluctuate quite a
bit. Having a big dinner one night will cause the next morning's weight to be
much higher for example - but that is not 'weight gained' - it might just be
temporary - your body will shed some of it once it has passed through your
system.
</p>

<p>
To keep track of my weight and graph this trend I have created this Ruby on
Rails application.
</p>

<p>
I hope that this application is useful to others too. 
</p>

<p>Enjoy.</p>
